@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    letter-spacing: -0.015em;
}

img{
    width: 100%;
    vertical-align: top;
}
 html{
     scroll-behavior: smooth;
 }

/* HEADER */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 9999;
    display:flex;
    justify-content:space-between;
    align-items: center;
    min-height:70px;
    background: #171717;
    padding: 1em 6em;
}
h1{
    font-weight: 400;
    color: #FFEA9F;
    width:20%;
}

  .navbar .nav.active { 
      transform: translateX(0%);transition: 0.5s; 
    }
  .navbar .nav .liste {
       display: flex;
       text-align: center;
       text-decoration:none;
       list-style-type: none;
    }  
   
  .navbar .nav .liste li a {
    background-color:transparent;
    color: #fff;
    display: block;
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
  }
  
  

  .menu {
    display:none;  
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
  }

  .menu span {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
  }

  .menu span:before {
    content: '';
    position: absolute;
    top: -8px;
    background-color: #fff;
    height: 3px;
    width: 25px;
    transition: 0.3s;
  }

  .menu span:after {
    content: '';
    position: absolute;
    top: 8px;
    background-color: #fff;
    height: 3px;
    width: 25px;
    transition: 0.3s;
  }

  .menu.active span { background-color: transparent; }

  .menu.active span:before { transform: rotate(45deg);top: 0; }
  
  .menu.active span:after { transform: rotate(-45deg);top: 0; }

/* BANNER */


.banner figure{
    display: flex;
    align-items: center;
    position: relative;
    background-image: 
    -webkit-linear-gradient(top,rgba(62,62,62,0.75), rgba(0, 0, 0, 0.75)),
    url("img/Banner.jpg") ;
    height: 50em;;
    background-size: cover;
}


.banner div{
    width: 100%;
    position: absolute;
    text-align: center;
    color: #FFEA9F;
    text-shadow: 0px 0px 5px #222423;
    font-size: 85px;
   
}

.thin{
    font-weight: 300;
}

.gras{
    font-weight: bold;
}


/* ABOUT */


.about{
    padding: 5em 6em;
}


.about h2{
    font-weight: 500;
    font-size: 24px;
    color: #A58A47;
}

.aboutwex{
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
}

.text1{
    font-weight: 500;
    font-size: 48px;
    width: 40%;
}

.text2{
    width: 50%;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
}

aside{
    display: flex;
    justify-content: space-between;
}

.website1{
    width: 20%;
}
.website2{
    width: 20%;
}
.website3{
    width: 20%;
}

.un{
    font-weight: bold;
    font-size: 30px;
    background: -webkit-linear-gradient(#FFEA9F, #A58A47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.websitedesign{
    padding: 1em 0;
    font-weight: 500;
    font-size: 18px;
}

.loremdesign{
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
}


/* ABOUT2 */


.about2 figure{
    display: flex;
    align-items: center;
    position: relative;
    background-image: 
    -webkit-linear-gradient(top,rgba(62,62,62,0.75), rgba(0, 0, 0, 0.75)),
    url("img/section2.jpg") ;
    height: 25em;
    background-size: cover;
    background-position: left bottom;
}

.about2 .container2{
    padding: 0 6em;
    width: 100%;
    position: absolute;
    text-shadow: 0px 0px 30px #222423;
}

.about2 h2{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.about2 .mobileapp{
    padding: 0.5em 0;
    font-weight: normal;
    font-size: 48px;
    color: #FFEA9F;
}

.about2 .textabout2{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}


/* TEAM */


.team{
    padding: 5em 6em;
}

.flexhead{
    text-align: center;
}

.team h2{
    font-weight: 500;
    font-size: 24px;
}

.team h3{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    background: -webkit-linear-gradient(#FFEA9F, #A58A47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5em 0;
}

.team .texthead{
    font-weight: normal;
    font-size: 18px;
}

.team .flexteam{
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
}

.team .vignette{
    background: #464646;
    padding: 1em;
    text-align: center;
    color: #fff;
}

.vignette{
    width: 30%;
}

.team img{
    padding-bottom: 2em;
    object-fit: cover;
}

.team h4{
    font-weight: 500;
    font-size: 24px;
}

.team h5{
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 2em;
}

.team .flexproject{
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.team .flexweb{
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}


progress::-webkit-progress-bar {
    background-color: white; width: 100%;
    border-radius: 20px;
}
progress {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 10px;
    color: #FFEA9F;
}

progress::-webkit-progress-value{
    background-color: #FFEA9F !important;
    border-radius: 20px;
}
progress::-moz-progress-bar{
    background-color: #FFEA9F !important;
}

/* WORK */

.work{
    background: #171717;
    padding: 5em 6em;
}

.work h2{
    color: #FFEA9F;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 1em;
}
.work div{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center
}
.work h3{
    font-weight: 500;
    font-size: 48px;
    width: 50%;
}
.work .textPortfolio{
    width: 50%;
}

.work .filDAriane{
    padding: 3em 0 1em 2em;
    color: white;
    font-weight: bold;
}

.filDAriane::before{
    color: #FFEA9F;
    content: "All";
}

  /* WORK GALLERY */

  .works_container{
    width: 100%;
  }
  
  .all_works{
    display:flex;
    flex-direction: column;
    width:100%;
  }
  .all_works img{
      width:100%;
      height:100%;
      object-fit: cover;
      object-position: 50% 50%;
  }
  .top_works{
    display:flex;
    width:100%;
    height:100%
    
  }
  .bottom_works{
    display:flex;
    width:100%;
    height:100%;
  }
  .left_works{
    display:flex;
    width:50%; 
   
  }
  .right_works{
    display:flex;
    width:50%;
  }
  .bottom_works .right_works{
    flex-direction:column;
  }
  .group_works_top{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
  }
  .group_works_bottom{
    width: 100%;
    height:50%;
    display:flex;
    flex-direction: row;
  }
  
  .full_height{
    display:block;
    width:100%;
    height:100%;
  }
  .small_height{
    display:block;
    width:100%;
    height:50%;
  }
  .full_width{
    display:block;
    width:100%;
    height:50%;
  }
  .small_width{
    display:block;
    width:100%;
  }
  
  .image_container{
    width:100%;
    height:100%;
    overflow: hidden;
  }

/* BLOG */

.blog{
    padding: 5em 6em;
}

.blog .parentBlog{
    display: flex;
    flex-direction: column;
}
.blog .figBlog1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
}
.blog img{
    width: 45%;
}
.blog .textBlog{
    width: 45%;
}

.blog .figBlog2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog h4{
    color: #A58A47;
}

.blog h2{
    padding: 1em 0 1em 0;
    font-weight: 500;
    font-size: 24px;
}

.blog p{
    padding-bottom: 1em ;
}

.blog button{
    background-image: linear-gradient(to right, #FFEA9F 0%, #FFEA9F 30%, #A58A47  70%);
    padding: 15px 60px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #171717;        
    font-weight: bold;
    border-radius: 50px;
    display: block;
    border: none;

}

.blog button:hover {
    background-position: center; 
    text-decoration: none;
}

/* CONTACT */

.contact div{
    display: flex;
    justify-content: space-between;
}

.contact .figNy{
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    background-image: 
    -webkit-linear-gradient(top,rgba(62,62,62,0.75), rgba(0, 0, 0, 0.75)),
    url("img/Building.jpg") ;
    height: 25em;
    background-size: cover;
}

.contact .texteNY{
    padding-left: 3em;
    position: absolute;
    flex-direction: column;
}
.contact p{
    color: #fff;
    padding: 0.2em 0;
    text-shadow: 0px 0px 30px #222423;
}
.contact h2{
    font-weight: 400;
    padding: 0.8em 0;
    color: #FFEA9F;
    text-shadow: 0px 0px 30px #222423;
}

.contact .figMap{
    position: relative;
    width: 40%;
}

.contact img{
    height: 25em;
    object-fit: cover;
}

/* FOOTER */

footer{
    padding: 1em 6em;
    background:#171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footerWexim{
    color:#FFEA9F;
    font-size: 36px;
}

footer a{
    text-decoration: none;
    color: #FFEA9F;
    padding: 0 0.5em;
}

footer .copyright p{
    color: #fff;
    font-size: smaller;
}

footer .copyright .copyrightGold{
    color: #FFEA9F;
}


/* MEDIA QUERIES */


@media (max-width: 1043px){
    .text1{
        font-weight: 500;
        font-size: 36px;
        width: 40%;
    }
    .website1{
        width: 31%;
    }
    .website2{
        width: 31%;
    }
    .website3{
        width: 31%;
    }
    .team{
        padding: 2em 0.5em;
    }
    .flexteam{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vignette{
        width: 50%;
        margin: 1em;
    }
}

@media (max-width: 780px){

    .banner div{
        font-size: 60px;
    }
    .banner figure{
        height: 30em;
    }
    .about{
        padding: 2em 0.5em;
    }
    .aboutwex{
        display: flex;
        flex-direction: column;
    }
    .text1{
        width: 100%;
        padding-bottom: 1em;
    }
    .text2{
        width: 100%;
    }
    .about2 .container2{
        padding: 0 0.5em;
    }
    .team{
        padding: 2em 0.5em;
    }

    .vignette{
        width: 80%;
    }
    .work{
        padding: 2em 1em;
    }
    .work div{
        display: flex;
        flex-direction: column;
    }
    .work h3{
        text-align: left;
        padding-bottom: 0.5em;
        width: 100%;
    }
    .work .textPortfolio{
        text-align: center;
        width: 100%;
    }
    .work .filDAriane{
        padding: 2em 0.5em;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .group_works_top{
        padding-bottom: 0.5em;
    }
    .work_one{
        padding-bottom: 0.5em;
    }
    .right_works{
        width: 100%;

    }
    .left_works{
        width: 100%;

    }

    .blog{
        padding: 2em 0.5em;
    }
   
    .contact div{
        display: flex;
        flex-direction: column;
    }
    .contact .figNy{
        width: 100%;
    }
    .contact .figMap{
        width: 100%;
    }
    footer{
        padding: 2em 0.5em;
    }
}

@media (max-width: 629px){



    .website1{
        text-align: center;
        width: 100%;
        padding: 0 3em;
    }
    
    .website2{
        display: none;
    }

    .website3{
        display: none;
    }

    .about2 figure{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 15em;
    }
    
    .about2 .container2{
        padding: 0 0.5em;
    }
    
    .about2 h2{
        font-size: 16px;
    }
    
    .about2 .mobileapp{
        font-size: 20px;
    }
    
    .about2 .textabout2{
        font-size: 16px;
    }
    .work h3{
        text-align: center;
    }
    .figBlog1{
        display: flex;
        flex-direction: column;
    }
    .figBlog2{
        display: flex;
        flex-direction: column-reverse;
    }
    .blog img{
        padding: 1em 0;
        width: 100%;
    }
    .blog .textBlog{
        width: 100%;
    }

    .contact div{
        display: flex;
        flex-direction: column;
    }
    .contact .figNy{
        width: 100%;
    }
    .contact .figMap{
        width: 100%;
    }
}


/* HAMBURGER MENU RESPONSIVE */

@media (max-width: 1043px){
    
    .menu{
        display:block;
    }
    .navbar .nav {
        background-color: #171717;
        position: absolute;
        top:0;
        right:0;
        width: 30%;
        height: 100vh;
        transform: translateX(1000%);
        transition: 0.5s;
        z-index: 9;
      }
      .navbar .nav .liste { 
        display: flex;
        text-align: center;
        flex-direction:column;
        text-decoration:none; 
        list-style-type: none;} 
      
    .liste li a {
        background-color:transparent;
        color: #fff;
        display: block;
        font-size: 1.8em;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        letter-spacing: 1px;
        text-decoration: none;
        transition: 0.5s;
    }
    .liste li a:hover { 
        background-color: #171717;color: #fff;transition: 0.5s; 
    }
}      