body{
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.background-test{
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    position: relative;
    background-position: bottom;
}

.accordion-button::after{
    display: none;
}
